<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.PostgreSQL9Dialect
        </property>

        <property name="connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="connection.url">
            jdbc:postgresql://localhost:5432/test_database
        </property>
        <property name="connection.username">test_user</property>
        <property name="connection.password">123</property>
        <property name="connection.pool_size">1</property>

        <property name="hbm2ddl.auto">create</property>

        <mapping class="model.DBEntities.DepartmentEntity"/>
        <mapping class="model.DBEntities.WorkerEntity"/>
        <mapping class="model.DBEntities.CalendarEntity"/>
        <mapping class="model.DBEntities.LabelEntity"/>
        <mapping class="model.DBEntities.DateLabelEntity"/>

    </session-factory>
</hibernate-configuration>